*{margin: 0;padding: 0;}
html,body{width:100%;}
body{font: 12px SimSun,tahoma,arial,sans-serif;}
li{list-style: none;}
a{text-decoration: none;color: #000;}
b{font-weight: normal;}
i{font-style: normal;}
img{display: block; border: none;}
input{outline: none;}
ul,ol{margin: 0;}