@import "public";
/*
 导航
 * */
#c_nav{width:100%;background: #f5f5f5;height: 29px;border-bottom: 1px solid #ddd;}
#c_nav .contain_nav{width: 1200px;margin: 0 auto;}
#c_nav .nav_left{float: left;}
#c_nav ul.nav_ulr_left li{margin-right: 10px;}
#c_nav ul.nav_ulr_right li{margin-right: 15px;}
#c_nav .nav_left ul li{float:left;line-height: 30px;height: 30px;margin:0 7px;}
#c_nav .nav_left ul li:first-child a{color: #ff0033;font-weight: bold;}
#c_nav .nav_left,.nav_right a:hover{text-decoration: none;color: #C80A28;}
#c_nav .nav_right{width:475px;float: right;display: inline;}
#c_nav .nav_right ul li{float: left;line-height: 30px;height: 30px;}
#c_nav .nav_right .nav_ulr_right{border-left: 1px solid #ddd;}
#c_nav .nav_right .nav_ulr_right li span{font-size:12px;color: #C80A28;padding-right: 3px;position: relative;}
/*网站导航，鼠标滑过显示*/
.webdhbox {margin: 0 auto;width: 1200px;position: relative;}
.webdh {margin: 0 auto;width: 100%;overflow: hidden;border: #e5e5e5 1px solid;padding: 7px;background: #fff;position: absolute;top: 29px;display: none;z-index: 100;}
.webdhbox a{color: #666;}
.webdhbox span{margin-left: 3px;}
.hot {width: 15%;float: left;border-right: #e5e5e5 1px solid;margin-left: 25px;height: 137px;}
.hot h1 {font-size: 16px;color: #f56b03;line-height: 14px;font-weight: bold;}
.hot ul li a:hover {color: #f56b03;text-decoration: underline;}
.webdh ul li {width: 50%;line-height: 24px;float: left;}
.Hstyle{width: 25%;float: left;border-right: #e5e5e5 1px solid;margin-left: 25px;height: 137px;}
.Hstyle h1 {font-size: 16px;color: #ec0736;line-height: 14px;font-weight: bold;}
.Hstyle ul li a:hover {color: #ec0736;text-decoration: underline;}
.AMH {width: 15%;float: left;border-right: #e5e5e5 1px solid;margin-left: 25px;height: 137px;}
.AMH h1 {font-size: 16px;color: #2263d4;line-height: 14px;font-weight: bold;}
.AMH ul li a:hover {color: #2263d4;text-decoration: underline;}
.AMH ul li,.mini ul li{width: 100%;line-height: 24px;float: left;}
.mini {width: 16%;float: left;border-right: #e5e5e5 1px solid;margin-left: 25px;height: 137px;}
.mini h1 {font-size: 16px;color: #5e8e3d;line-height: 14px;font-weight: bold;}
.mini ul li a:hover {color: #5e8e3d;text-decoration: underline;}
.help {width: 15%;float: left;margin-left: 25px;height: 137px;}
.help h1 {font-size: 16px;color: #686868;line-height: 14px;font-weight: bold;}
/*搜索导航条*/
#top_header{width: 1200px;height: 115px;margin: 0 auto;position: relative;font-family: "微软雅黑";}
/*logo*/
.top_header_logo{width: 355px;height: 97px;position: absolute;top: 8px;left: 0;background:url(../images/index/logo_new.png) 0 5px no-repeat;}
/*搜索框*/
.top_header_search{float: left;width: 540px;position: absolute;top: 28px;left: 401px;}
.top_header_search .top_header_search_c{z-index: 11;   width: 488px;height: 32px;margin-bottom: 3px;border: 2px solid #c80a28;position: relative;}
.top_header_search .top_header_search_c .text{position: absolute;z-index: 2;width: 399px;color: #c80a28;outline: none;border: none;line-height: 20px;padding-top: 3px;text-indent: 5px;font-size: 14px;}
.top_header_search .top_header_search_c .button{width: 85px;background: #c80a28;position: absolute;top: 0px;right: 0px;font: 16px/30px 'microsoft yahei';color: #fff;letter-spacing: 4px;cursor: pointer;border: none;height: 30px;}
.hotwords {margin-top: 38px;height: 18px;color: #666;  overflow: hidden;}
.hotwords b{color: #999;text-decoration: none;margin: 0 8px 0 0px;font-size: 11px;float: left;}
.hotwords a{margin-right: 8px;float: left;color: #666;}
.hotwords a:hover{text-decoration: none;color: #ff0033;}
/*二维码*/
.erweima{position: absolute;right: 40px;top: 15px;width: 100px;}
.erweima p{width: 100%;line-height: 16px;text-align: center;font-size: 12px;color: #ff0032;   font-weight: bold;}
/*商品导航*/
#sHeader{width: 1200px;height:33px;margin: 18px auto 0;position: relative;}
#sHeader .sMenuHeader{margin-left: 190px;width: 990px;}
#sHeader .sMenuHeader li{float: left;padding: 1px 16px;text-align: center;line-height: 33px;font-weight: bold;}
#sHeader .sMenuHeader li a{font-size: 14px;color: #000;}
#sHeader .sMenuHeader li a:hover{text-decoration: none;color: #ec0736;}
#sHeader .sMenuHeader .sright{float: right;position: relative;}
#sHeader .sMenuHeader li:last-child{background: url(../images/index/sjt.png) no-repeat 75px 18px;}

/*商品列表导航*/
#sHeader .sPli{
    position: absolute;
    z-index: 5;
    top: -20px;
    h2{
        height: 33px;
        width: 190px;
        background: url(../images/index/but.jpg);
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        line-height: 33px;
    }
    .sPli_list{
        width: 190px;
        height: 453px;
        background-color: #e3e3e3;
        position: relative;
        z-index: 5;
        overflow: hidden;
        top: -10px;
        li{
            padding: 12px 13px;
            position: relative;
            border-bottom: 1px dotted #ccc;
            border-top: none;
            h3{
                font-size: 14px;
                font-weight: bold;
                /*height: 24px;*/
               color:#333;
               margin-top: 0;
            }
            i{
                width: 18px;
                height: 18px;
                float: left;
                display: inline-block;
                margin:1px 5px 0 0;
            }
            a{
                font-size: 12px;
                color: #555;
                margin: 0 1px;
            }
            span{
                display: inline-block;
                position: absolute;
                top: 17px;
                right: 8px;
                background: url(../images/index/leftjt.png) no-repeat;
                width: 6px;
                height: 9px;
            }
        }
    }
//  鼠标滑过显示
    .sPli_menu{
        width: 400px;
        height: 450px;
        overflow: hidden;
        position: absolute;
        top:56px;
        left: 190px;
//      第一个
        .smenuConin{
            width: 192px;
            height: 450px;
            background: #fff;
            position: absolute;
            display: none;
//          top:0;
//          left: 10px;
            .smenul{
                width: 70px;
                float: left;
                margin-right: 10px;
                img{
                    margin-top: 22px;
                }
            }
            .smenur{
                width: 70px;
                float: left;
                 img{
                    margin-top: 22px;
                }
            }
//          第二个
            .menu_items{
                width: 380px;
                height: 400px;
                margin: 0 auto;
                padding-top:8px;
                padding-bottom: 8px;
                .menu_items_list{
                    height: auto;
                    overflow: hidden;
                    h3{
                        font-size: 14px;
                        color: #333;
                    }
                    p{
                        a{
                            color: #888;
                            font-size: 12px;
                            display: inline-block;
                            float: left;
                            padding: 0 8px;
                            margin-top: 3px;
                            white-space: nowrap;
                            background: url(../images/index/jgg.jpg) no-repeat right 3px;
                        }
                        
                    }
                }
                .line1{
                    width: 380px;
                    border: 1px dotted #ddd;
                    margin: 6px 0 4px 0;
                }
                .menu_items_list_img{
                    width: 380px;
                    height: auto;
                    overflow: hidden;
                    a{
                        img{
                            float: left;
                            margin:6px 15px 10px 10px;
                        }
                    }
                }
            }
        }
        .sConinhover{
            display: block;
        }
    }
}


//banner图轮播

//#sbanner{
//  width: 100%;
//  overflow: hidden;
//  min-width: 1200px;
//  .sbanner_index{
//      position: relative;
//      width:100% ;
//      height: 450px;
//      overflow: hidden;
//      ul{
//          width:100%;
//          position: absolute;
//          bottom: 6px;
//          z-index: 10;
//          text-align: center;
//          li{
//              display: inline-block;
//              width: 120px;
//              line-height: 30px;
//              text-align: center;
//              background: #333;
//              color: #fff;
//              font-size:12px;
//              cursor: pointer;
//              margin-right: 4px;
//              z-index: 12;
//          }
//      }
//      .sba_i_con{
//          position: absolute;
//          left: 0;
//          top: 0;
//          z-index: 1;
//          width: 100%;
//          height: 450px;
//          cursor: pointer;
//       
//      }
//  }
// 
//}


#myCarousel{
    width: 100%;
    overflow: hidden;
    min-width: 1200px;
    ol{
        width:100%;
        position: absolute;
        bottom: 6px;
        z-index: 10;
        text-align: center;
        li{
//          display: inline-block;
//          width: 120px;
//          line-height: 30px;
//          text-align: center;
//          background: #333;
//          color: #fff;
//          font-size:12px;
//          cursor: pointer;
//          margin-right: 4px;
//          z-index: 12;
        }
    }
    .sbanner_index{
        position: relative;
        width:100% ;
        height: 450px;
        overflow: hidden;
        
        .sba_i_con{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 450px;
            cursor: pointer;
         
        }
    }
   
}

/*主体部分*/
#container_s{width:1200px;margin: 0 auto;overflow: hidden;height: auto;min-height: 430px;padding: 5px 0;}
#container_s .hd_con1{width: 1200px;margin: 0 auto;overflow: hidden;}
#container_s .hd_con1 .hd_con1_left{float: left;width: 680px;}
#container_s .hd_con1 .hd_con1_left h1{font-size: 14px;font-weight: bold;width: 270px;height:18px;margin-top: 8px;padding-bottom:18px;}
#container_s .hd_con1 .hd_con1_left ul{width: 676px;float: left;border: 1px solid #eee;padding: 37px 0;}
#container_s .hd_con1 .hd_con1_left ul li{float: left;padding: 7px 0 0 18px;}
#container_s .hd_con1 .hd_con1_left ul li a{width: 150px;height: 65px;display: block;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpainana1{background: url(../images/index/NA.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaih1{background: url(../images/index/H-.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaifq1{background: url(../images/index/FQ.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaid1{background: url(../images/index/DKN.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpain1{background: url(../images/index/NBS.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpais1{background: url(../images/index/SL.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaihnz{background: url(../images/index/HN-.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpainma1{background: url(../images/index/ANMA.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaihp1{background: url(../images/index/yyt-.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaiyyt1{background: url(../images/index/mn.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaimini1{background: url(../images/index/pig.jpg) no-repeat;}

/*鼠标滑过*/

#container_s .hd_con1 .hd_con1_left ul li a.pinpainana1:hover{background: url(../images/index/NA-.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaifq1:hover{background: url(../images/index/FQ-.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaid1:hover{background: url(../images/index/DKN-.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpain1:hover{background: url(../images/index/NBS-.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpais1:hover{background: url(../images/index/SL-.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpainma1:hover{background: url(../images/index/ANMA-.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaiyyt1:hover{background: url(../images/index/mn-.jpg) no-repeat;}
#container_s .hd_con1 .hd_con1_left ul li a.pinpaimini1:hover{background: url(../images/index/pig-.jpg) no-repeat;}

//右面的图片和新闻列表
#container_s .hd_con1 .hd_con1_right{float: right;width: 498px;border: 1px solid #e7e7e7;padding-bottom:10px ;}
.hd_con1_right_c{width: 100%;height: 44px;border-bottom: 2px solid #e7e7e7;color: #333;margin:0 auto;font-size: 16px;position: relative;}
.hd_con1_right_c div{position:absolute;height: 44px;width:166px;line-height: 44px;text-align: center;cursor: pointer;}
.hd_con1_right_c div:hover{color: #ff0f3f;border-bottom: 2px solid #ff0f3f;}
//新闻列表
.con1_listN{width: 100%;overflow: hidden;}
.con1_listN_items h2{margin-bottom: 12px;height: 174px;margin-top: 14px;margin-left: 8px;}
/*.con1_listN_items h2 a img{float: left;}*/
.con1_listN_items ul li{float: left;width: 95%;line-height: 24px;    color: #ff0f3f;background: url(../images/index/sq1.png) no-repeat 0 11px;padding-left: 9px;margin-left: 10px;}
.con1_listN_items ul li span{float: right;color: #333;font-size: 12px;}
.hd_con2{width: 1200px;overflow: hidden;margin: 20px auto;}
.hd_con2 .hd_img_left{float: left;width: 680px;}
.hd_con2 .hd_img_right{float: right;width: 498px;height: 316px;position: relative;}
.hd_con2 .hd_img_right .playbtn{width: 40px;height: 40px;transition: 0.3s;border-radius: 50%;position: absolute;left: 50%;margin-left: -20px;top: 50%;margin-top: -20px;}
.hd_con2 .hd_img_right .playbtn img{width: 40px;height: 40px;}
.hd_con2 .hd_img_right .playbtn:hover{
    box-shadow:0 0 200px #555 ;
    transform: scale(0.9);
    }
    
//小图轮播 新品上市

.new_lunbo{
    width: 1200px;
    height: auto;
    overflow: hidden;
    min-height: 340px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: -15px;
    position: relative;
    h1{
        height: 24px;
        background: url(../images/index/web_index.png) no-repeat 0 -51px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 8px;
        position: relative;
        font-size: 12px;
        color: #666;
        ul{
            display: inline-block;
            margin: 0 0 0 220px;
            li{
                float: left;
                line-height: 18px;
                cursor: pointer;
                color: #ddd;
                a{
                    width: 62px;
                    height: 22px;
                    color: #666;
                    margin: 0 5px;
                    text-align: center;
                    display: block;float: left;
                }
                a:hover{
                    color: #fff;
                    background: url(../images/index/2.png) no-repeat 0 0;
                    text-decoration: none;
                }
            }
        }
    }
    
}
//公共的ul列表样式
.ul_con{
        height: auto;
        overflow: hidden;
        width: 1220px;
        margin-top: 10px;
        li{
            float: left;
            width: 223px;
            margin: 0 21px 5px 0;
            dl{
                color: #333;
                dt img{
                width: 100%;
                }
                dd{
                    width: 220px;
                    height: 25px;
                    line-height: 25px;
                    margin-top:8px ;
                    text-align: center;
                    span{
                        font-size: 18px;
                        i{
                            font-size: 12px;
                        }
                    }
                    del{
                           font-size: 12px;
                        color: #999;
                    }
                }
            }
            
        }
    }

//时尚女装
.new_xinpin{
    width: 1200px;
    height: auto;
    overflow: hidden;
    min-height: 340px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: -15px;
    position: relative;
    h1{
        height: 24px;
        background: url(../images/index/web_index.png) no-repeat 0 -78px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 8px;
        position: relative;
        font-size: 12px;
        color: #666;
        div.xinpin_navr{
            float: right;
            display: inline-block;
            margin: 0 0 0 220px;
            a{
                float: left;
                padding: 0 10px;               
                color: #666;
            }
            a:hover{
                text-decoration: none;
                color: #666;
            }
            
        }
    }
    .new_xinpin_con{
        width:1220px;
        height: auto;
        overflow: hidden;
        .nxcl{
            width: 190px;
            height: 423px;
            margin-right: 10px;
            float: left;
            background: #fafafa;
            img{
                width: 100%;
            }
            .nxcla{
                width: 180px;
                margin: 8px 0;
                font-weight: bold;
                height: auto;
                padding-left: 10px;
                a{
                    color: #333;
                    font-size: 12px;
                    padding: 8px 14px 4px 0;
                    display: inline-block;
                }
                a:hover{
                    color: #333;
                    text-decoration: none;
                }
            }
        } 
        .nxcr{
            width: 1000px;
            height: 423px;
            float: left;
            .nxcrimg{
                width: 790px;
                float: left;
                margin-right: 10px;
                background: url(../images/index/h.png) no-repeat center;
                a img{
                    float: left;
                }
                .ir1{
                    width:580px;
                    height: 423px;
                    margin-right: 10px;
                }
                .ir2{
                    width:200px;
                    height: 253px;
                    margin-bottom: 10px;
                }
                .ir3{
                    width:200px;
                    height: 160px;
                }
            }
            .nxcrhot{
                width: 178px;
                height: 422px;
                float: right;
                border: 1px solid #ddd;
                border-top: none;
                padding: 0 10px;
                h1{
                    font-weight: bold;
                    color: #c80a28;
                    height: 15px;
                    font-size: 14px;
                    text-align: center;
                    padding: 10px 0;
                    background: none;
                }
                 ul{
                        width: 100%;
                        float: left;

                        li.slif:first-child{
                            border-top: 1px dashed #ddd;
                        }
                        li.slif{
                            width: 100%;
                            line-height: 16px;
                            padding: 9px 0 10px 0;
                            border-top: 1px solid #ddd;
                            cursor: pointer;
                            color: #333;
                            float: left;
                            max-height: 114px;
                            h2{
                                float: left;
                                margin-top: 0;
                                margin-bottom: 0;
                                font-size: 12px;
                                padding-left: 26px;
                                background: url(../images/index/01.png) no-repeat;
                                height: 16px;
                            }
                            .snum1{
                                background: url(../images/index/02.png) no-repeat;
                            }
                            .snum2{
                                background: url(../images/index/03.png) no-repeat;
                            }
                            .snum3{
                                background: url(../images/index/04.png) no-repeat;
                            }
                            .snum4{
                                background: url(../images/index/05.png) no-repeat;
                            }
                            .snum5{
                                background: url(../images/index/06.png) no-repeat;
                            }
                            .snum6{
                                background: url(../images/index/07.png) no-repeat;
                            }
                            .snum7{
                                background: url(../images/index/08.png) no-repeat;
                            }
//                          ul{
//                              width: 100%;
//                              float: left;
//                              li.hot_img{
//                                  width: 80px;
//                                  float: left;
//                                  border: none;
//                                  position: relative;
//                                  img{
//                                      width: 80px;
//                                      height: 114px;
//                                      
//                                  }
//                              }
//                              li.hot_info{
//                                  width: 90px;
//                                  float: right;
//                                  margin-top: 3px;
//                                  p{
//                                      color: #333;
//                                      line-height: 20px;
//                                      
//                                  }
//                              }
//                          }
                            li.hot_img{
                                float: left;
                                img{
                                    width: 80px;
                                }
                            }
                            li.hot_info{
                                float: right;
                                p{
                                    
                                    i{
                                        color: #c80a28;
                                        font-size: 16px;
                                    }
                                    del{
                                        color: #999;
                                    }
                                    span{
                                        color: #c80a28;
                                    }
                                }
                            }
                        }
                        
                    }
            }
        }  
    }
    
}
//妈妈装
.new_xinpin{
    h1.xinmom{
       background: url(../images/index/web_index.png) no-repeat 0 -140px;
    }
    .new_xinpin_con{
        #nxcrmom{
            width: 1000px;
            height: 423px;
            float: left;
            a img{
                float: left;
                display: inline-block;
            }
            .momb{
                width:790px;
                height: 423px;
                float: left;
                margin-right: 10px;
                 .ir1{
                    width:790px;
                    height: 423px;
                    margin-right: 10px;
                }
            }
            .mombr{
                width: 200px;
                float: right;
                height: auto;
                .ir2{
                    width:200px;
                    height: 293px;
                    margin-bottom: 10px;
                }
                .ir3{
                    width:200px;
                    height: 130px;
                }
            }
        }
    }
}


//甜美少女风

.new_xinpin{
    h1.shaonv{
       background: url(../images/index/web_index.png) no-repeat 0 -172px;
    }
    .new_xinpin_con{
        #nxcrshaonv{
            width: 1000px;
            height: 423px;
            float: left;
            a img{
                float: left;
                display: inline-block;
            }
            .shaonvb{
                width:790px;
                height: 423px;
                float: left;
                margin-right: 10px;
                 .ir1{
                    width:790px;
                    height: 423px;
                    margin-right: 10px;
                }
            }
            .shaonvbr{
                width: 200px;
                float: right;
                height: auto;
                .ir2{
                    width:200px;
                    height: 135px;
                    margin-bottom: 9px;
                }
            }
        }
    }
}

//童装
.new_xinpin{
    h1.xinchildren{
       background: url(../images/index/web_index.png) no-repeat 0 -203px;
    }
    .new_xinpin_con{
        #nxcrchildren{
            width: 1000px;
            height: 423px;
            float: left;
            a img{
                float: left;
                display: inline-block;
            }
            .childrenb{
                width:790px;
                height: 423px;
                float: left;
                margin-right: 10px;
                 .ir1{
                    width:790px;
                    height: 423px;
                    margin-right: 10px;
                }
            }
            .childrenbr{
                width: 200px;
                float: right;
                height: auto;
                .ir2{
                    width:200px;
                    height: 206px;
                    margin: 0 0 10px 0;
                }
               
            }
        }
    }
}

//尼班诗女装
.new_xinpin{
    h1.xinnibans{
       background: url(../images/index/web_index.png) no-repeat 0 -265px;
    }
    .new_xinpin_con{
        #nxcrnibans{
            width: 1000px;
            height: 423px;
            float: left;
            a img{
                float: left;
                display: inline-block;
            }
            .nibansb{
                width:790px;
                height: 423px;
                float: left;
                margin-right: 10px;
                 .ir1{
                    width:790px;
                    height: 423px;
                    margin-right: 10px;
                }
            }
            .nibansbr{
                width: 200px;
                float: right;
                height: auto;
                .ir2{
                    width:200px;
                    height: 423px;
                    margin: 0 0 10px 0;
                }
               
            }
        }
    }
}

//底部一张图
#bottomi{
    width: 1200px;
    margin: 30px auto;
    height: 90px;
    img{
        width: 100%;
    }
}

//尾部
#hfooter{
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    min-height: 140px;
    .footer_info{
        width: 100%;
        margin-top: 15px;
        background: #fafafa;
        overflow: hidden;
        dl{
            float: left;
            padding-left:82px;
            margin: 20px 0;
            
            dt{
                height: 25px;
                width: 100px;
                background: url(../images/index/footer01.png) no-repeat;
            }
            dd{
                height: 20px;
                line-height: 20px;
                color: #333;
                margin-left: 10px;
                a{
                    color: #565656;
                    
                }
            }
            
        }
    }
    .footer_black{
        width: 100%;
        height: 30px;
        background: #393939;
        text-align: center;
        font-size: 12px;
        color:#fff;
        margin: 5px 0;
        line-height: 30px;
        a{
             color:#fff;
             text-decoration: none;
        }
    }
    .footer_copyright{
        margin: 15px 0;
        img{
            display: inline-block;
            }
        span{
            width: 100%;
            a{
                display: inline-block;
            }
            a:hover{
                text-decoration: none;
            }
        }
        
    }   
}

//登录

#hlogin{
    width: 1100px;
    margin: 10px auto;
    height: auto;
    overflow: hidden;
    .hloginImg_left{
        float: left;
        width: 420px;
        margin: 40px 40px 0 0;
        img{
            width: 410px;
            height: 290px;
        }
    }
    .hlogin_right{
        width: 527px;
        float: left;
        border-left: 1px dashed #ddd;
        padding-left: 80px;
        .login_form{
            width: 352px;
            float: left;
            margin-top: 25px;
            box-shadow: 2px 1px 5px rgba(0,0,0,0.4);
            padding: 20px 40px;
            border: 1px solid #ddd;
            opacity: 0.95;
            h1{
                width: 100%;
                height: 30px;
                font-size: 20px;
                border-bottom: 1px solid #eee;
                color:#666;
            }
            form{
                padding-top: 30px;
                p{
                    margin-top: 10px;
                    color: #393939;
                    font-size: 14px;
                    line-height: 33px;
                    input{
                        width: 207px;
                        font-size: 12px;
                        color: #bbb;
                        outline: none;
                    }
                    a{
                        text-decoration: underline;
                        font-size: 12px;
                        color: #393939;
                    }
                }
                p.psub{
                    font-size: 12px;
                    input:first-child{
                        background: #BE0929;
                        width: 140px;
                        height: 35px;
                        line-height: 35px;
                        text-align: center;
                        color: #fff;
                        border-radius: 2px;
                        letter-spacing: 1px;
                        border: none;
                    }
                    input:last-child{
                        width: 20px;
                    }
                }
            }
        }
        .login_other{
            width:528px ;
            padding-top: 30px;
            padding-bottom: 15px;
            clear: both;
            height: auto;
            overflow: hidden;
            .login_other_title{
                float: left;
                font-size: 12px;
                height: 30px;
                line-height: 30px;
                clear: both;
            }
            .login_other_btn{
                float: left;
                a span{
                   float: left;
                   height: 30px; 
                   width: 97px;
                   margin-right: 10px;
                   background: url(../images/sub/NEWS_login.png) no-repeat 0 -528px;
                }
            }
        }
    }
}


//注册
#hregist{
    width: 1100px;
    margin: 10px auto;
    height: auto;
    overflow: hidden;
    .hregist_left{
        float: left;
        width: 360px;
        margin: 40px 0 0 30px;
        .hregist_left_list{
            font-size: 14px;
            width: 360px;
            line-height: 40px;
            input{
                background: url(../images/sub/NEWS_login.png) no-repeat -347px -211px;
                width: 103px;
                height: 30px;
                border: none;
                color: #fff;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 1px;
                margin: 8px 0 0 10px;
                cursor: pointer;
                text-align: center;
            }
        }
        .hregist_left_dingyue{
            width: 430px;
            height: 97px;
            margin-top: 8px;
            input{
                width: 250px;
                height: 25px;
                border: 1px solid #ddd;
                float: left;
                font: 14px/20px '宋体';
                color: #666;
            }
            button{
                display: block;
                width: 70px;
                height: 22px;
                background: url(../images/sub/footer00.png) no-repeat;
                float: left;
                margin: 2px 8px;
                border: none;
                cursor: pointer;
            }
        }
    }
    .hregist_right{
        height: 550px;
        float: left;
        border-left: #DDD 1px dashed;
        margin: 30px 0 0 50px;
        padding-left: 50px;
        .hregist_matel{
            width: 609px;
            border-bottom: #ddd 1px dashed;
            height: 120px;
            line-height: 50px;
            .regist_nu{
                background: url(../images/sub/NEWS_login.png) no-repeat 0 -326px;
                width: 22px;
                height: 22px;
                font-size: 14px;
                color: #fff;
                float: left;
                text-align: center;
                line-height: 22px;
                margin: 13px 0 0 0;
            }
            .regist_na{
                margin-left: 8px;
                line-height: 50px;
                float: left;
            }
            .regist_te{
                width: 316px;
                margin: 8px 0 0 0;
                float: left;
                a{
                    background: url(../images/sub/NEWS_login.png) no-repeat 0 -102px;
                    width: 135px;
                    height: 38px;
                    border: none;
                    display: block;
                    line-height: 32px;
                    float: left;
                    text-align: center;
                    font-size: 14px;
                    margin-left: 10px;
                }
                a.emaB{
                    color: #fff;
                }
                a.telB{
                    background-position: 0 -151px;
                    color: #393939;
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
        .hregist_info{
            margin-top: 20px;
            .regist_nu{
                background: url(../images/sub/NEWS_login.png) no-repeat 0 -326px;
                width: 22px;
                height: 22px;
                font-size: 14px;
                color: #fff;
                float: left;
                text-align: center;
                line-height: 22px;
                margin: 13px 0 0 0;
            }
            .regist_na{
                margin-left: 8px;
                line-height: 50px;
                float: left;
            }
            .regist_right_list{
                width: 580px;
                li{
                    width: 580px;
                    line-height: 33px;
                    float: left;
                    padding-left: 80px;
                    .regist_rN{
                        float: left;
                    }
                    .regist_list_txt{
                        background: url(../images/sub/shopping_login.png) no-repeat -0 -182px;
                        width: 210px;
                        height: 33px;
                        border: none;
                        float: left;
                        text-indent: 5px;
                        line-height: 33px;
                    }
                    .regist_telphonetime{
                        background: url(../images/sub/NEWS_login.png) no-repeat -256px -107px;
                        width: 116px;
                        height: 26px;
                        line-height: 26px;
                        text-align: center;
                        margin: 3px 0 0 5px;
                        color: #7b7b7b;
                        border: none;
                    }
                    .regist_list_con{
                        float: left;
                        color: #7b7b7b;
                        text-indent: 44px;
                        width: 600px;
                        a{
                            color: #bf0000;
                        }
                    }
                    .regist_xieyi{
                        float: left;
                        color: #393939;
                        text-indent: 48px;
                        font-size: 16px;
                        margin-top: 10px;
                        a{
                             color: #bf0000;
                        }
                    }
                    .regist_list_regree{
                        background: url(../images/sub/NEWS_login.png) no-repeat 0 -51px;
                        width: 171px;
                        height: 43px;
                        border: none;
                        font-size: 18px;
                        color: #fff;
                        margin: 10px 0 0 44px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}











